@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(172, 172, 172);
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: block;
}

menu > li{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    border-top: 1px solid gray;
}

menu > ul > li > a:hover{
    background-color: rgb(121, 121, 121);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article{
    margin-bottom: 20px;
    background-color: gray;
}

article > h2{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

article > img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}